<!DOCTYPE html>

<html xmlns:th="//www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>

	<body>
		<a href="/">HOME</a>
		<h1>로그인 페이지</h1>
		
		<form action="/signin" method="post">
			<p>
				<input type="text" placeholder="이메일" name="email">
			</p>
			<p>
				<input type="password" placeholder="비밀번호" name="pass">
			</p>
			<p>
				<!-- csrf 토큰 적용 -->
				<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				
				<button>로그인</button>
			</p>
		</form>
	</body>

</html>