<!DOCTYPE html>

<html xmlns:th="//www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		
		<title>Insert title here</title>
		
		<link rel="stylesheet" href="/css/admin/item.css">
		<script src="/webjars/jquery/jquery.min.js"></script>
		<script src="/js/admin/item.js"></script>
		<script src="/js/common/category.js"></script>
	</head>

	<body>
		<a href="/">HOME</a>
		<a href="/admin/item">상품</a>
		<hr>
		<h1>관리자 상품등록</h1>
		
		<form action="/admin/item" method="post">
			
			<div id="category">
				
			</div>
			
			<p>
				<input type="text" placeholder="상품명" name="title">
			</p>
			<p>
				<input type="text" placeholder="가격" name="price">
			</p>
			<p>
				<input type="text" placeholder="재고" name="stock">
			</p>
			<p id="img-area">
				<!-- 동적 태그 생성하기: 파일 추가로 업로드 가능하게 하기 -->
				<!-- 이미지 태그가 js로 삽입 -->
			</p>
			<p>
				<textarea name="content">
					
				</textarea>
			</p>
			
			<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<button>상품등록</button>
			<button type="button" onclick="imgSend()">상품등록</button>
			
		</form>
	</body>

</html>